<!-- sidebar.component.html -->
<div class="sidebar-container">
    <div class="overlay" *ngIf="isOpen" (click)="onClose()"></div>
    <div class="sidebar" [class.active]="isOpen">
        <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/become-member">{{ 'MENU_BECOME_MEMBER' | translate }}</a>
            <a routerLink="/list-member">{{ 'MENU_LIST_MEMBER' | translate }}</a>
            <a routerLink="/events">{{ 'MENU_EVENTS' | translate }}</a>
            <a routerLink="/calendar">{{ 'MENU_BECOME_CALENDAR' | translate }}</a>
            <a routerLink="/organigramma">{{ 'MENU_BECOME_ORGANIGRAM' | translate }}</a>
            <a routerLink="/contacts">{{ 'MENU_BECOME_CONTACTS' | translate }}</a>
            <hr>
            <a *ngIf="!isAuthenticated" routerLink="/login">Login</a>
            <a *ngIf="isAuthenticated" routerLink="/profile">{{ 'MENU_PROFILE' | translate }}</a>
            <hr>
            <a *ngIf="isAuthenticated" (click)="logout()">Lagout</a>
        </nav>
    </div>
    <button class="menu-button" (click)="onToggle()">&#9776;</button>
</div>