@import "../../../assets/scss/colors.scss";

.become-member {
  margin: 20px;
  font-family: Arial, sans-serif;

  .card {
    padding: 1rem;

    h2 {
      margin-bottom: 20px;
    }

    .step {
      display: none; // Nascondi tutti i passi di default

      &.active {
        display: block; // Mostra il passo attivo
      }
    }

    h3 {
      margin: 10px 0;
      font-size: 1.5em;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px; // Spaziatura tra gli elementi del form

      div {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
          font-weight: bold;
        }

        input,
        select {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;

          &:focus {
            border-color: $primary-color; // Cambia il colore del bordo al focus
            outline: none;
          }
        }
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $primary-color; // Usa il colore primario per il bottone
        color: white;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%); // Scurisci il bottone al passaggio del mouse
        }

        &:disabled {
          background-color: #ccc; // Grigio per il bottone disabilitato
          cursor: not-allowed;
        }
      }
    }
  }
}
