<div class="become-member">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <div class="card">
                <h2>Diventa membro</h2>
                <div class="step" [ngClass]="{'active': currentStep === 1}">
                    <form [formGroup]="memberForm">
                        <div>
                            <label for="name">Nome:</label>
                            <input type="text" id="name" formControlName="name">
                        </div>
                        <div>
                            <label for="surname">Cognome:</label>
                            <input type="text" id="surname" formControlName="surname">
                        </div>
                        <div>
                            <label for="email">Email:</label>
                            <input type="email" id="email" formControlName="email">
                        </div>
                        <div>
                            <label for="cellphone">Telefono cellulare:</label>
                            <input type="text" id="cellphone" formControlName="cellphone">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" formControlName="password">
                        </div>
                        <button type="button" (click)="nextStep()"
                            [disabled]="memberForm.get('name')?.invalid || memberForm.get('surname')?.invalid || memberForm.get('email')?.invalid || memberForm.get('cellphone')?.invalid || memberForm.get('password')?.invalid">Avanti</button>
                    </form>
                </div>

                <div class="step" [ngClass]="{'active': currentStep === 2}">
                    <form [formGroup]="memberForm">
                        <div>
                            <label for="city">Città:</label>
                            <input type="text" id="city" formControlName="city">
                        </div>
                        <div>
                            <label for="sector">Settore:</label>
                            <select id="sector" formControlName="sector" (change)="onSectorChange($event)">
                                <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
                            </select>
                        </div>
                        <div>
                            <label for="profession">Professione:</label>
                            <select id="profession" formControlName="profession">
                                <option *ngFor="let profession of filteredProfessions" [value]="profession">{{ profession }}</option>
                            </select>
                        </div>
                        <button type="button" (click)="previousStep()">Indietro</button>
                        <button type="button" (click)="submit()"
                            [disabled]="memberForm.get('city')?.invalid || memberForm.get('profession')?.invalid">Invia</button>
                    </form>
                </div>

                <div class="step" [ngClass]="{'active': currentStep === 3}">
                    <h3>Registrazione riuscita</h3>
                    <p>La tua registrazione è stata completata con successo!</p>
                    <button type="button"
                        (click)="currentStep = 1; memberForm.reset(); registrationSuccess = false;">Ricomincia</button>
                </div>
            </div>

        </div>
    </div>
</div>