<header>
  <nav class="navbar">
    <div class="logo-wrapper">
      <a routerLink="/">
        <img src="assets/logos/logo-rc.png" alt="RC Italia Logo" />
      </a>
    </div>

    <div class="menu-wrapper text-chillax">
      <div class="list-menu">
        <div class="item-menu"><a routerLink="/">Home</a></div>
        <div class="item-menu">
          <a routerLink="/become-member">{{ 'MENU_MEMBER' | translate }}</a>
          <div class="sub-menu">
            <div class="sub-item"><a routerLink="/become-member">{{ 'MENU_BECOME_MEMBER' | translate }}</a> </div>
            <div class="sub-item" *ngIf="user | hasRole:['ROLE_ADMIN', 'ROLE_MONITORING']">
              <a routerLink="/list-member">{{ 'MENU_LIST_MEMBER' | translate }}</a>
            </div>
          </div>
        </div>
        <div class="item-menu">
          <a routerLink="/events">{{ 'MENU_EVENTS' | translate }}</a>
          <div class="sub-menu">
            <div class="sub-item"><a routerLink="/events">{{ 'MENU_LIST_EVENTS' | translate }}</a></div>
            <div class="sub-item" *ngIf="user | hasRole:['ROLE_ADMIN', 'ROLE_MONITORING']"><a
                routerLink="/create-event">{{ 'MENU_CREATE_EVENTS' | translate }}</a></div>
            <div class="sub-item"><a routerLink="/calendar-events">{{ 'MENU_CALENDAR_EVENTS' | translate }}</a> </div>
          </div>
        </div>
        <div class="item-menu"><a routerLink="/organigramma">{{ 'MENU_ORGANIGRAM' | translate }}</a></div>
        <div class="item-menu"><a routerLink="/contacts">{{ 'MENU_CONTACTS' | translate }}</a></div>
      </div>
    </div>

    <div *ngIf="isAuthenticated">
      <!-- <app-cart-icon></app-cart-icon> -->
    </div>

    <div class="profile-wrapper" *ngIf="user | isAuthenticated: isAuthenticated">
      <a routerLink="/profile">
        <i class="fas fa-user"></i> <span>{{ user.name | titlecase }}</span>
      </a>
    </div>

  </nav>

</header>