<header>
  <nav class="navbar">
    <div class="logo-wrapper">
      <a routerLink="/">
        <img src="assets/logos/logo-rc.png" alt="RC Italia Logo" />
      </a>
    </div>

    <div class="menu-wrapper">
      <div class="list-menu">
        <div class="item-menu"><a routerLink="/">Home</a></div>
        <div class="item-menu"><a routerLink="/become-member">{{ 'MENU_BECOME_MEMBER' | translate }}</a> </div>
        <div class="item-menu"><a routerLink="/events">{{ 'MENU_EVENTS' | translate }}</a></div>
        <div class="item-menu"><a routerLink="/calendario">{{ 'MENU_BECOME_CALENDAR' | translate }}</a></div>
        <div class="item-menu"><a routerLink="/organigramma">{{ 'MENU_BECOME_ORGANIGRAM' | translate }}</a></div>
        <div class="item-menu"><a routerLink="/contacts">{{ 'MENU_BECOME_CONTACTS' | translate }}</a></div>
      </div>
    </div>

    <div *ngIf="isAuthenticated">
      <!-- <app-cart-icon></app-cart-icon> -->
    </div>

    <div class="profile-wrapper" *ngIf="isAuthenticated">
      <a routerLink="/profile">
        <i class="fas fa-user"></i> <span>{{ user.name | titlecase }}</span>
      </a>
    </div>

  </nav>

</header>