<div class="container section-page-title">
    <div class="page-title">
        <span>Termini e Condizioni</span>
    </div>
</div>
<div class="container">
    <div class="terms-and-conditions">

        <p>
            Benvenuto su <strong>RevolucionCiudadana.it</strong>. Accedendo e utilizzando questa piattaforma, accetti i
            seguenti termini e condizioni. Ti preghiamo di leggerli attentamente prima di utilizzare il sito.
        </p>

        <h2>1. Scopo della Piattaforma</h2>
        <p>
            RevolucionCiudadana.it è una piattaforma progettata per l'impegno politico e le discussioni sociali. Tutti i
            contenuti forniti sono a scopo informativo ed educativo e riflettono i valori di trasparenza e
            partecipazione
            democratica.
        </p>

        <h2>2. Utilizzo dei Dati</h2>
        <p>
            I dati degli utenti raccolti su questa piattaforma saranno utilizzati esclusivamente a fini statistici per
            migliorare l'esperienza utente e per analisi interne. In nessun caso i dati personali verranno divulgati o
            condivisi con terze parti, incluse aziende esterne o fornitori.
        </p>

        <h2>3. Politica sulla Privacy</h2>
        <p>
            La tua privacy è una priorità. Tutti i dati raccolti saranno gestiti in conformità alle normative sulla
            protezione dei dati applicabili, inclusa la GDPR (Regolamento Generale sulla Protezione dei Dati). Ci
            impegniamo a garantire che le tue informazioni personali siano sicure e confidenziali.
        </p>

        <h2>4. Responsabilità degli Utenti</h2>
        <p>
            Utilizzando questa piattaforma, gli utenti si impegnano a non svolgere attività illegali o inappropriate,
            inclusa la diffusione di contenuti offensivi, discriminatori o ingannevoli. Gli utenti sono responsabili di
            garantire che i loro contributi siano conformi alle linee guida della comunità.
        </p>

        <h2>5. Proprietà Intellettuale</h2>
        <p>
            Tutti i contenuti su RevolucionCiudadana.it, inclusi testi, immagini, loghi e design, sono di proprietà
            intellettuale della piattaforma, salvo diversamente specificato. L'uso non autorizzato di questi contenuti
            senza espressa autorizzazione è vietato.
        </p>

        <h2>6. Modifiche ai Termini</h2>
        <p>
            RevolucionCiudadana.it si riserva il diritto di aggiornare o modificare questi termini in qualsiasi momento.
            Qualsiasi modifica avrà effetto immediato una volta pubblicata sulla piattaforma. Invitiamo gli utenti a
            consultare regolarmente i termini per rimanere informati su eventuali aggiornamenti.
        </p>

        <h2>7. Limitazione di Responsabilità</h2>
        <p>
            RevolucionCiudadana.it non sarà ritenuta responsabile per eventuali danni diretti, indiretti o incidentali
            derivanti dall'uso della piattaforma. Facciamo del nostro meglio per garantire accuratezza e affidabilità,
            ma non garantiamo la completezza o correttezza di tutte le informazioni presenti sul sito.
        </p>

        <h2>8. Contattaci</h2>
        <p>
            Per qualsiasi domanda riguardante questi termini o la nostra politica sulla privacy, non esitare a
            contattarci all'indirizzo <a href="mailto:info@revolucionciudadana.it">info&#64;revolucionciudadana.it</a>.
        </p>

        <h2>9. Uso di Cookies</h2>
        <p>
            RevolucionCiudadana.it utilizza i cookies per migliorare la navigazione e l'esperienza utente. I cookies
            sono
            file di testo che vengono salvati sul dispositivo dell'utente per memorizzare informazioni relative alla sua
            attività sul sito. Gli utenti possono gestire o disabilitare i cookies tramite le impostazioni del proprio
            browser. Tuttavia, la disabilitazione dei cookies potrebbe compromettere alcune funzionalità della
            piattaforma.
        </p>

        <h2>10. Account Utente</h2>
        <p>
            Per accedere ad alcune funzionalità della piattaforma, gli utenti potrebbero essere tenuti a creare un
            account
            personale. Gli utenti sono responsabili della sicurezza del proprio account, incluso il mantenimento della
            riservatezza delle credenziali di accesso. RevolucionCiudadana.it non sarà responsabile per qualsiasi
            perdita o
            danno derivante dall'uso non autorizzato del tuo account.
        </p>

        <h2>11. Sospensione o Chiusura dell'Account</h2>
        <p>
            RevolucionCiudadana.it si riserva il diritto di sospendere o chiudere un account utente in caso di
            violazione
            dei presenti Termini e Condizioni o delle linee guida della comunità. In caso di chiusura dell'account,
            tutti
            i dati associati all'account verranno rimossi in conformità con la nostra Politica sulla Privacy.
        </p>

        <h2>12. Accesso al Contenuto da Parte di Minori</h2>
        <p>
            L'accesso alla piattaforma RevolucionCiudadana.it è riservato esclusivamente a utenti maggiorenni o a minori
            con il consenso esplicito di un genitore o tutore legale. Invitiamo i genitori a monitorare l'attività
            online
            dei propri figli per garantire che l'uso della piattaforma sia sicuro e appropriato.
        </p>

        <h2>13. Contenuti Generati dagli Utenti</h2>
        <p>
            Gli utenti della piattaforma possono contribuire con contenuti, inclusi commenti, immagini, e altro
            materiale.
            Tuttavia, RevolucionCiudadana.it si riserva il diritto di rimuovere contenuti che ritiene non conformi alle
            proprie linee guida o dannosi per la comunità. Gli utenti concedono alla piattaforma una licenza non
            esclusiva,
            perpetua e globale per utilizzare i contenuti generati dagli utenti in relazione alla piattaforma stessa.
        </p>

        <h2>14. Giurisdizione e Legge Applicabile</h2>
        <p>
            Questi Termini e Condizioni sono regolati dalla legge italiana. Qualsiasi controversia che dovesse sorgere
            in
            relazione all'utilizzo di RevolucionCiudadana.it sarà di competenza esclusiva del tribunale della
            giurisdizione
            competente del luogo in cui ha sede legale la piattaforma.
        </p>
    </div>
</div>