<div class="container section-page-title">
    <div class="page-title">
        <span>Politica sulla Privacy</span>
    </div>
</div>
<div class="container">
    <div class="privacy-policy">
        
        <p>
            La protezione dei tuoi dati personali è una nostra priorità. In questa Politica sulla Privacy, spieghiamo
            come
            raccogliamo, utilizziamo e proteggiamo i tuoi dati personali quando visiti il nostro sito
            <strong>RevolucionCiudadana.it</strong>.
        </p>

        <h2>1. Tipi di Dati Raccolti</h2>
        <p>
            Quando utilizzi la nostra piattaforma, potremmo raccogliere le seguenti informazioni:
        </p>
        <ul>
            <li><strong>Dati di navigazione:</strong> informazioni relative alla tua visita al sito web, inclusi
                l’indirizzo IP,
                il browser utilizzato, la durata della visita e le pagine visualizzate.</li>
            <li><strong>Dati forniti dall'utente:</strong> informazioni che ci fornisci volontariamente, come nome,
                indirizzo
                email o altre informazioni inserite nei moduli di contatto o registrazione.</li>
        </ul>

        <h2>2. Finalità del Trattamento dei Dati</h2>
        <p>
            I dati personali raccolti vengono trattati per le seguenti finalità:
        </p>
        <ul>
            <li>Migliorare l'esperienza utente e ottimizzare il funzionamento della piattaforma.</li>
            <li>Gestire le richieste di supporto e rispondere a eventuali domande o comunicazioni ricevute.</li>
            <li>Analisi statistiche interne per comprendere l'utilizzo della piattaforma e migliorare i nostri servizi.
            </li>
        </ul>

        <h2>3. Conservazione dei Dati</h2>
        <p>
            Conserviamo i tuoi dati personali solo per il tempo necessario a soddisfare le finalità per le quali sono
            stati
            raccolti, o per rispettare gli obblighi di legge. Una volta che tali finalità sono state raggiunte, i dati
            saranno cancellati o resi anonimi.
        </p>

        <h2>4. Condivisione dei Dati</h2>
        <p>
            Non vendiamo, affittiamo o condividiamo i tuoi dati personali con terze parti per scopi di marketing. I dati
            possono essere condivisi solo con i nostri fornitori di servizi per l'elaborazione statistica o per
            migliorare
            il funzionamento della piattaforma, ma sempre nel rispetto della presente Politica sulla Privacy.
        </p>

        <h2>5. Diritti degli Utenti</h2>
        <p>
            In conformità con la normativa vigente, hai il diritto di accedere, correggere, aggiornare o eliminare i
            tuoi dati
            personali. Puoi anche richiedere la limitazione del trattamento o opporti al trattamento dei tuoi dati. Per
            esercitare tali diritti, ti invitiamo a contattarci tramite l'email <a
                href="mailto:privacy@revolucionciudadana.it">privacy&#64;revolucionciudadana.it</a>.
        </p>

        <h2>6. Sicurezza dei Dati</h2>
        <p>
            Adottiamo misure tecniche e organizzative adeguate per proteggere i tuoi dati personali da accessi non
            autorizzati,
            perdite, alterazioni o divulgazioni. Tuttavia, nessun sistema di trasmissione di dati su Internet può essere
            considerato completamente sicuro, e non possiamo garantire la sicurezza assoluta dei tuoi dati trasmessi
            attraverso la piattaforma.
        </p>

        <h2>7. Uso dei Cookies</h2>
        <p>
            Il nostro sito utilizza cookies per migliorare la tua esperienza di navigazione. I cookies sono piccoli file
            di testo
            salvati sul tuo dispositivo per memorizzare informazioni sulla tua attività. Puoi gestire o disabilitare i
            cookies
            tramite le impostazioni del tuo browser. Tuttavia, disabilitare i cookies potrebbe influenzare la
            funzionalità
            della piattaforma.
        </p>

        <h2>8. Modifiche alla Politica sulla Privacy</h2>
        <p>
            Ci riserviamo il diritto di aggiornare questa Politica sulla Privacy in qualsiasi momento. Qualsiasi
            modifica
            sarà comunicata agli utenti tramite la pubblicazione della nuova versione sul nostro sito. Ti consigliamo di
            consultare regolarmente questa pagina per rimanere aggiornato.
        </p>

        <h2>9. Contattaci</h2>
        <p>
            Per ulteriori informazioni sulla nostra Politica sulla Privacy o per qualsiasi domanda sui tuoi dati
            personali,
            puoi contattarci all'indirizzo <a
                href="mailto:privacy@revolucionciudadana.it">privacy&#64;revolucionciudadana.it</a>.
        </p>
    </div>
</div>