@import "../../../../../../assets/scss/colors.scss";
.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .product {
    position: relative;
    border: 1px solid #aeaff82d;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;

    .btn-remove {
      position: absolute;
      right: 5px;
      top: 5px;
      border: none;
      color: $primary-color;
    }
  }
  .add-product-wrapper {
    display: flex;
    .add-product {
      margin-left: auto;
      max-width: 200px;
    }
  }
}
