<div class="container lista-events">
    <div class="actions-wrapper">
        <button *ngIf="user | hasRole:['ROLE_ADMIN', 'ROLE_MONITORING']" class='action' type="button" (click)="goToPageCreateEvent()">
            <i class="fa-solid fa-plus"></i>Crea evento
        </button>
    </div>
    <div class="filters">
        <h5>Filtri</h5>
        <label for="type">Tipologia:</label>
        <select id="type" [(ngModel)]="selectedType" (change)="applyFilters()">
            <option value="">Tutte</option>
            <option *ngFor="let type of eventTypes" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div class="empty-message-wrapper" *ngIf="events.length == 0">
        <span>Non ci sono eventi</span>
    </div>
    <div class="events-container" *ngIf="events.length > 0">
        <div class="event-card" *ngFor="let event of events">
            <h5>{{ event.title }} </h5>
            <span>{{ event.startDateTime | date:'dd/MM/yyyy' }}</span>
            <img [src]="event.imageUrl" alt="{{ event.title }}">
            <p>{{ event.shortDescription }}</p>
            <button *ngIf="user | hasRole:['ROLE_ADMIN', 'ROLE_MONITORING']" (click)="onClickDeleteEvent(event)">Elimina</button>
        </div>
    </div>
   
</div>