<div class="container lista-events">
    <div class="actions-wrapper">
        <button *ngIf="user | hasRole:['ROLE_ADMIN', 'ROLE_MONITORING']" class='action' type="button"
            (click)="goToPageCreateEvent()">
            <i class="fa-solid fa-plus"></i>{{ 'MENU_CREATE_EVENTS' | translate }}
        </button>
    </div>
    <div class="filters">
        <h5>{{ 'EVENTS_FILTERS' | translate }}</h5>
        <label for="type">{{ 'EVENTS_FILTER_CATEGORY' | translate }}:</label>
        <select id="type" [(ngModel)]="selectedType" (change)="applyFilters()">
            <option value="">Tutte</option>
            <option *ngFor="let type of eventTypes" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div class="empty-message-wrapper" *ngIf="events.length == 0">
        <span>{{ 'EVENTS_NO_ELEMENTS' | translate }}</span>
    </div>
    <div class="events-container" *ngIf="events.length > 0">
        <div class="event-card" *ngFor="let event of events">
            <h5>{{ event.title }} </h5>
            <span>{{ event.startDateTime | date:'dd/MM/yyyy HH:mm' }}</span>
            <img [src]="event.imageUrl" alt="{{ event.title }}">
            <p>{{ event.shortDescription }}</p>
            <button *ngIf="user | hasRole:['ROLE_ADMIN', 'ROLE_MONITORING']" (click)="onClickDeleteEvent(event)">{{
                'EVENTS_DELETE' | translate }}</button>
        </div>
    </div>

</div>