<div class="container section-page-title">
  <div class="page-title">
    <span>{{ 'CONTACTS_TITLE' | translate }}</span>
  </div>
</div>
<div class="contacts-container">
  <div class="row">
    <div class="col-6">
      <div *ngFor="let contact of contacts" class="contact-card">
        <h3>{{ contact.name }}</h3>
        <p>
          <i class="fas fa-envelope"></i>
          {{ 'FORM_FIELD_EMAIL' | translate }}: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        </p>
        <p>
          <i class="fas fa-phone"></i>
          {{ 'FORM_FIELD_CELLPHONE' | translate }}: <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
        </p>
      </div>
    </div>
    <div class="col-6">
      <!-- <h3>{{ 'CONTACTS_FORM' | translate }}</h3> -->
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        <label for="name">{{ 'FORM_FIELD_NAME' | translate }}:</label>
        <input id="name" formControlName="name" required>

        <label for="email">{{ 'FORM_FIELD_EMAIL' | translate }}:</label>
        <input id="email" formControlName="email" required>

        <label for="message">{{ 'FORM_FIELD_MESSAGE' | translate }}:</label>
        <textarea id="message" formControlName="message" required></textarea>

        <button type="submit" [disabled]="contactForm.invalid">{{ 'FORM_FIELD_SEND_MESSAGE' | translate }}</button>
      </form>
    </div>
  </div>



</div>