@import '../../../assets/scss/colors.scss';

.contacts-container {
  padding: 20px;
  border-radius: 8px;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;

    @media (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .contact-card {
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h3 {
      color: $primary-color;
      margin-bottom: 10px;
    }

    p {
      display: flex;
      align-items: center;
      font-size: 16px;
      margin: 5px 0;

      i {
        margin-right: 8px;
        color: darken($primary-color, 10%);
      }

      a {
        color: darken($primary-color, 20%);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .contact-form {

    label {
      display: block;
      margin-bottom: 5px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    button {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: lighten($primary-color, 20%);
      }

      &:hover:not(:disabled) {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}
