<div class="container section-page-title">

    <div class="page-title">
        <span>{{ 'MENU_CALENDAR_EVENTS' | translate }}</span>
    </div>
</div>
<div class="calendario">

    <div *ngFor="let month of months" class="mese">
        <h2 (click)="toggleMonth(month)">{{ month.format('MMMM YYYY') | titlecase }}<i [ngClass]="{
              'fa-chevron-up': isMonthOpen(month),
              'fa-chevron-down': !isMonthOpen(month)
            }" class="fas"></i></h2>
        <div class="giorni" *ngIf="isMonthOpen(month)">
            <ng-container *ngFor="let day of getDaysInMonth(month)">
                <div class="giorno" [ngClass]="{
              'current-day': isCurrentDay(day),
              'weekend': day.day() === 0 || day.day() === 6,
              'not-valid-day': !day.isValid()
          }">
                    <div class="data" *ngIf="day.isValid()">{{ day.format('ddd, D, MMM') | titlecase }}</div>
                    <div *ngIf="getEventsForDay(day).length > 0; else noEvents" class="eventi">
                        <div *ngFor="let event of getEventsForDay(day)" class="evento">
                            <div class="titolo">{{ event.title }}</div>
                            <div class="organizzatore">{{ event.organizer }}</div>
                            <div class="orario">{{ event.startDateTime | date: 'shortTime' }} - {{ event.endDateTime |
                                date: 'shortTime' }}</div>
                        </div>
                    </div>
                    <ng-template #noEvents>
                        <div class="no-eventi" *ngIf="day.isValid()">Nessun evento</div>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
</div>