.calendario {
  display: flex;
  flex-direction: column;
  background-color: white; // Colore di sfondo bianco
  padding: 20px; // Padding per il contenitore del calendario
  border-radius: 10px; // Aggiungi angoli arrotondati se desiderato
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Leggero ombreggiatura

  h2 {
    color: #003366; // Blu scuro
    text-align: center;
  }

  .giorni {
    display: flex;
    flex-wrap: wrap;
  }

  .giorno {
    flex: 0 0 calc(100% / 7 - 10px); // 7 giorni per riga, sottraendo il margine
    padding: 10px;
    text-align: center;
    margin: 5px;
    position: relative;
    aspect-ratio: 1; // Rende gli elementi quadrati
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // Centra il contenuto
    border: 1px solid #ccc; // Bordo grigio chiaro
    border-radius: 5px; // Angoli arrotondati
    background-color: white; // Sfondo bianco

    &.weekend {
      background-color: #f0f0f0; // Grigio chiaro per il fine settimana
    }
     &.not-valid-day {
          opacity: 0;
        }

    .data {
      font-weight: bold;
      color: #003366; // Blu scuro
      font-size: 16px;
    }

    .evento {
      background-color: #e6f0ff; // Blu chiaro
      border: 1px solid #003366; // Blu scuro
      padding: 10px;
      margin-top: 5px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      .titolo {
        font-size: 14px;
        font-weight: bold;
        color: #0056b3; // Blu medio
      }

      .organizzatore {
        font-size: 12px;
        color: #666;
      }

      .orario {
        font-size: 12px;
      }

      .registrati {
        display: inline-block;
        margin-top: 5px;
        color: #007bff; // Blu chiaro
        text-decoration: none;
        border: 1px solid #007bff;
        border-radius: 5px;
        padding: 5px 10px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #007bff; // Blu al passaggio del mouse
          color: white;
        }
      }
    }
  }

  // Evidenziazione per il giorno corrente
  .current-day {
    background-color: #ffeb3b; // Colore di evidenziazione (giallo)
    border: 2px solid #fbc02d; // Bordo giallo scuro
    border-radius: 5px;
  }

  // Media Queries per la reattività
  @media (max-width: 768px) {
    .giorni {
      display: flex;
      flex-direction: column;
      .giorno {
        flex: 0 0 calc(100% / 7 - 10px); // Mantenere 7 giorni per riga
        &.not-valid-day {
          display: none;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .giorno {
      flex: 0 0 calc(100% / 7 - 10px); // Mantenere 7 giorni per riga
    }

    .giorni {
      justify-content: center; // Centra gli elementi su schermi piccoli
    }
  }
}
