@import "../../../assets/scss/colors.scss";

.homepage {
  .image-gallery {
    text-align: center; // Center-align the gallery title
    padding: 20px; // Add padding around the gallery
    background-color: #f9f9f9; // Light background for contrast
    border-radius: 10px; // Rounded corners for the gallery
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // Soft shadow for depth

    h2 {
      font-size: 24px; // Font size for the title
      color: #333; // Dark color for the title
      margin-bottom: 15px; // Space below the title
    }

    .image-container {
      display: flex; // Use flexbox for layout
      justify-content: center; // Center images in the container
      align-items: center; // Vertically align images
      gap: 15px; // Space between images
      margin-top: 20px; // Space above the images

      // Responsive design for smaller screens
      @media (max-width: 768px) {
        flex-direction: column; // Stack images vertically on smaller screens
        gap: 10px; // Reduce gap between images
      }

      .gallery-image {
        width: calc(
          33.33% - 10px
        ); // Set width to one-third of the container minus space for margin

        height: auto; // Maintain aspect ratio
        border-radius: 8px; // Round the corners of the images
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Add a slight shadow for depth
        transition: transform 0.3s; // Smooth transition for hover effect

        // Hover effect
        &:hover {
          transform: scale(1.05); // Slightly enlarge the image on hover
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); // Enhance shadow on hover
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  .hero-container {
    img {
      width: 100%;
    }
  }
  .images-home-container {
    display: flex;
    justify-content: center;
    .correa-container {
      width: 35%;
      .correa {
        width: 100%;
      }
    }
    .italy-container {
      position: relative;
      width: 65%;
      .italy {
        width: 100%;
      }
    }
  }
  .main-title {
    background-color: white;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem;
    span {
      font-family: "GothamUltra";
      font-size: 3rem;
      color: #ffff;
      background-color: #df4747;
      padding: 9px 22px 9px 9px;
      border-radius: 20px;
    }
    .description {
      padding: 0.2rem 1rem;
    }
  }

  .social-media-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #121c4b;
    position: relative;
    overflow: hidden;
    .gif-animation {
      position: absolute;
      width: auto;
      height: 100%;
      z-index: 1;
      left: 0;
    }
    .image-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;
      .promotional-image {
        width: 100%;
        max-width: 300px;
      }

      .posts-preview {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        .post {
          width: 100px;
          height: 100px;
          background-color: #f3f3f3;
          border-radius: 8px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .follow-us-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding: 1rem;
      z-index: 2;
      .header {
        margin-bottom: 20px;

        h3,
        h2 {
          margin: 0;
          font-family: "GothamUltra";
        }

        h3 {
          font-size: 1rem;
          color: #fff;
          background-color: #df4747;
          padding: 4px 12px;
          border-radius: 20px;
        }

        h2 {
          font-size: 2em;
          color: #fff;
        }
      }

      .social-links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .social-link {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1.1em;
          background-color: #fff;
          border-radius: 10px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #e0e0e0;
          }

          i {
            border-radius: 10px;
            text-align: center;
            min-width: 50px;
            font-size: 1.5em;
            background-color: #21395f;
            padding: 1rem;
            color: #fff;
          }

          span {
            font-weight: bold;
            padding: 1rem;
          }
        }
      }
    }
  }
  .btn-become-member-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    button {
      background-color: #df4747;
      color: #fff;
      font-family: "GothamUltra";
      font-size: 1.5rem;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #c13b3b;
        transform: translateY(-2px);
      }

      &:active {
        background-color: #a12f2f;
        transform: translateY(0);
        box-shadow: none;
      }
    }
  }
}

.pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
  transform: translate(-50%, -50%); /* Center each pointer */
}

/* Individual positions for each pointer */
.pointer-1 {
  top: 47%; /* Roma*/
  left: 52%;
}

.pointer-2 {
  top: 24%; /* Milano*/
  left: 35%;
}

.pointer-3 {
  top: 30%; /* Genova*/
  left: 30%;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  50% {
    width: 15px;
    height: 15px;
    opacity: 0.5;
  }
  100% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .homepage {
    .social-media-container {
      .image-section {
        justify-content: flex-end;
      }
    }
  }
}
