<div class="homepage container-fluid">

  <div class="row">
    <div class="col-12 p-0">


    </div>
  </div>
  <div class="row" style="background-color: #46A2DB;">
    <div class="col-md-5 p-0">
      <div class="images-home-container">
        <div class="correa-container">
          <img class="correa" src="assets/images/homepage/correa-silueta.webp" alt="Promotional Image">
        </div>
        <div class="italy-container">
          <img class="italy" src="assets/images/homepage/italy.png" alt="RC Italia Vector" />
          <div class="pointer pointer-1"></div>
          <div class="pointer pointer-2"></div>
          <div class="pointer pointer-3"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-0">
      <div class="main-title text-chillax">
        <span>{{ 'HOMEPAGE_WELCOME' | translate }}</span>
        <p class="description">
          {{ 'HOMEPAGE_DESCRIPTION' | translate }}
        </p>
      </div>
      <div class="btn-become-member-container">
        <button routerLink="/become-member">{{ 'HOMEPAGE_BUTTON_SUBSCRIBE' | translate
          }}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <!-- <app-home-images-slider [sliderImages]="sliderImages"></app-home-images-slider> -->
      <div class="image-gallery">
        <div class="image-container">
          <img *ngFor="let image of sliderImages" [src]="image" alt="Event Image" class="gallery-image" />
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <div class="social-media-container">
        <img src="assets/images/gifs/animation-likes.gif" alt="Animation Likes" class="gif-animation">
        <div class="image-section">
          <img src="assets/images/homepage/promo.png" alt="Promotional Image" class="promotional-image">
        </div>

        <div class="follow-us-section">
          <div class="header">
            <h3>{{ 'HOMEPAGE_SOCIAL_TITLE' | translate }}</h3>
            <h2>{{ 'HOMEPAGE_SOCIAL_SUBTITLE' | translate }}</h2>
          </div>
          <div class="social-links">
            <a class="social-link" *ngFor="let link of socialMediaLinks" [href]="link.link" target="_blank"
              rel="noopener noreferrer">
              <i [class]="link.icon"></i>
              <span>{{ link.handle }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>