<div class="container create-event">
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="step-container">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="panel-preview-container">
                <div class="heading-wrapper">
                    <span class="title">Anteprima evento</span>
                </div>
                <div class="image-wrapper">
                    <img src="{{event.imageUrl}}" />
                </div>
            </div>
        </div>
    </div>
</div>