@import "assets/scss/index.scss";

* {
  margin: 0;
  padding: 0;
}
.text-chillax {
  font-family: "Chillax";
}
html {
  touch-action: manipulation; /* Prevents double-tap zoom */
  -webkit-user-select: none; /* Disables text selection on iOS */
  -moz-user-select: none; /* Disables text selection on Firefox */
  -ms-user-select: none; /* Disables text selection on IE */
  user-select: none; /* Disables text selection */
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #030303;
  background-color: #fafafa;
}
h1 {
  font-family: "GothamUltra";
}
a {
  color: #151515;
  text-decoration: none;

  &:hover {
    color: rgb(31, 31, 31);
  }
}
